In [5]:
from google.colab import files

Data = files.upload()
for filename in Data.keys():
  print(f'File "{filename}" uploaded successfully!')

Saving Final_Data.xlsx to Final_Data.xlsx
File "Final_Data.xlsx" uploaded successfully!

In [8]:
import pandas as pd
import numpy as np

df = pd.read_excel('/content/Final_Data.xlsx')


df2 = pd.read_excel('/content/Caterer_info.xlsx')

In [9]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [10]:
df.head()

,Unnamed: 0,Flat no,Wing,Owner Name,Owner's Spouse Name,No of Resident,Confirmed Members,Origin of Owner,Flat Area (sq.mt),No of Room,Tenant or owner,Maintenance Amt,Availlability of owner,Flat Vacancy,Donation
0,0,101,A,Omkar,-,4,4,Maharashtra,500,2,Owner,6000,Yes,Owned,2500.0
1,1,102,A,Bhavana,-,5,6,Bangalore,500,2,Owner,6000,Yes,Owned,10000.0
2,2,103,A,Govind,-,5,3,Rajasthan,500,2,Owner,6000,Yes,Owned,1500.0
3,3,201,A,Reena,-,4,2,Madhya Pradesh,550,2,Tenant,6000,No,Owned,NaN
4,4,202,A,Karishma,-,7,15,Gujurat,600,3,Owner,7000,No,Owned,2500.0

In [11]:
df2

    Unnamed: 0  Plate Cost  Decoration Price  Rating Caterer Name
0            0         280              5000     2.4            a
1            1         420              4300     3.8            b
2            2         390              5900     3.1            c
3            3         420              6900     4.6            d
4            4         280              6500     2.3            e
5            5         360              7000     3.3            f
6            6         250              4200     3.4            g
7            7         370              4800     3.8            h
8            8         370              5800     3.1            i
9            9         400              6900     2.4            j
10          10         380              4300     4.0            k
11          11         370              5600     4.0            l
12          12         250              5000     4.3            m
13          13         440              4700     3.2            n
14          14         490              4900     4.0            o
15          15         320              5400     4.8            p
16          16         480              5400     3.8            q
17          17         500              6500     3.2            r
18          18         310              4700     3.7            s
19          19         400              4800     2.3            t

In [12]:
df2.dtypes
df2.isnull().sum()

Unnamed: 0          0
Plate Cost          0
Decoration Price    0
Rating              0
Caterer Name        0
dtype: int64

In [13]:
df2.describe()

       Unnamed: 0  Plate Cost  Decoration Price     Rating
count    20.00000   20.000000         20.000000  20.000000
mean      9.50000  374.000000       5430.000000   3.475000
std       5.91608   74.861275        918.866579   0.741176
min       0.00000  250.000000       4200.000000   2.300000
25%       4.75000  317.500000       4775.000000   3.100000
50%       9.50000  375.000000       5200.000000   3.550000
75%      14.25000  420.000000       6050.000000   4.000000
max      19.00000  500.000000       7000.000000   4.800000

In [14]:
for i in df2.columns:
    print(f"\nCheck unique values in {i} column:")
    print(df2[i].unique())

Check unique values in Unnamed: 0 column:
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19]

Check unique values in Plate Cost column:
[280 420 390 360 250 370 400 380 440 490 320 480 500 310]

Check unique values in Decoration Price column:
[5000 4300 5900 6900 6500 7000 4200 4800 5800 5600 4700 4900 5400]

Check unique values in Rating column:
[2.4 3.8 3.1 4.6 2.3 3.3 3.4 4.  4.3 3.2 4.8 3.7]

Check unique values in Caterer Name column:
['a' 'b' 'c' 'd' 'e' 'f' 'g' 'h' 'i' 'j' 'k' 'l' 'm' 'n' 'o' 'p' 'q' 'r'
 's' 't']

In [15]:
df2.duplicated().sum()

0

In [16]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        20 non-null     int64
 1   Plate Cost        20 non-null     int64
 2   Decoration Price  20 non-null     int64
 3   Rating            20 non-null     float64
 4   Caterer Name      20 non-null     object
dtypes: float64(1), int64(3), object(1)
memory usage: 928.0+ bytes

In [17]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              60 non-null     int64
 1   Flat no                 60 non-null     int64
 2   Wing                    60 non-null     object
 3   Owner Name              60 non-null     object
 4   Owner's Spouse Name     18 non-null     object
 5   No of Resident          60 non-null     object
 6   Confirmed Members       60 non-null     object
 7   Origin of Owner         60 non-null     object
 8   Flat Area (sq.mt)       60 non-null     int64
 9   No of Room              60 non-null     int64
 10  Tenant or owner         60 non-null     object
 11  Maintenance Amt         32 non-null     object
 12  Availlability of owner  60 non-null     object
 13  Flat Vacancy            43 non-null     object
 14  Donation                55 non-null     float64
dtypes: float64(1), int64(4), object(10)
memory usage: 7.2+ KB
None

In [18]:
df.dtypes

Unnamed: 0                  int64
Flat no                     int64
Wing                       object
Owner Name                 object
Owner's Spouse Name        object
No of Resident             object
Confirmed Members          object
Origin of Owner            object
Flat Area (sq.mt)           int64
No of Room                  int64
Tenant or owner            object
Maintenance Amt            object
Availlability of owner     object
Flat Vacancy               object
Donation                  float64
dtype: object

In [19]:
df.describe()

       Unnamed: 0      Flat no  Flat Area (sq.mt)  No of Room      Donation
count   60.000000    60.000000          60.000000   60.000000     55.000000
mean    29.500000   552.000000         554.166667    2.416667   4136.363636
std     17.464249   289.653212          43.464057    0.497167   3228.138073
min      0.000000   101.000000         500.000000    2.000000   1000.000000
25%     14.750000   302.000000         500.000000    2.000000   1500.000000
50%     29.500000   552.000000         550.000000    2.000000   2500.000000
75%     44.250000   802.000000         600.000000    3.000000   6000.000000
max     59.000000  1003.000000         600.000000    3.000000  10000.000000

In [20]:
df.duplicated().sum()

0

In [21]:
df.isnull().sum()

Unnamed: 0                 0
Flat no                    0
Wing                       0
Owner Name                 0
Owner's Spouse Name       42
No of Resident             0
Confirmed Members          0
Origin of Owner            0
Flat Area (sq.mt)          0
No of Room                 0
Tenant or owner            0
Maintenance Amt           28
Availlability of owner     0
Flat Vacancy              17
Donation                   5
dtype: int64

In [22]:
df['Flat no'].unique()

array([ 101,  102,  103,  201,  202,  203,  301,  302,  303,  401,  402,
        403,  501,  502,  503,  601,  602,  603,  701,  702,  703,  801,
        802,  803,  901,  902,  903, 1001, 1002, 1003])

In [23]:
for i in df.columns:
  print(df[i].unique())

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47
 48 49 50 51 52 53 54 55 56 57 58 59]
[ 101  102  103  201  202  203  301  302  303  401  402  403  501  502
  503  601  602  603  701  702  703  801  802  803  901  902  903 1001
 1002 1003]
['A' 'B']
['Omkar' 'Bhavana' 'Govind' 'Reena' 'Karishma' 'Ragesh' 'Harshad' 'Abdul'
 'Lohit' 'Vijay' 'Praveen' 'Arjun' 'Priya' 'Ravi' 'Deepak' 'Nandini'
 'Nisha' 'Sunil' 'Priyanka' 'Rahul' 'Anjali' 'Aman' 'alok' 'Pooja' 'Anil'
 'Simran' 'mayuri' 'Naveen' 'Anju' 'Vivek' 'tanmay' 'Rohit' 'Ankita'
 'Suresh' 'omi' 'Karan' 'Neha' 'Sameer' 'shilpa' 'Romil' 'Sachin' 'Amit'
 'abdul' 'Gaurav' 'Ashish' 'Lokesh' 'Mahesh' 'yash' 'rasika' 'Shivam'
 'Vikas']
['-' 'Parul' nan 'Shashi' 'Sneha' 'Nisha' 'Raghav' 'Vimesh' 'Chanda'
 'Deeksha' 'Ekta' 'Anjali' 'Suman']
[4 5 7 8 '-' 3 6 2 1]
[4 6 3 2 15 8 20 '-' 1 11 9 0 7 5]
['Maharashtra' 'Bangalore' 'Rajasthan' 'Madhya Pradesh' 'Gujurat' 'Kerala'
 'Gujarat' 'Tamil Nadu' 'Karnataka' 'Uttar Pradesh' 'Delhi' 'Haryana'
 'Punjab' 'Andhra Pradesh' '-' 'Kashmir' 'Assam']
[500 550 600]
[2 3]
['Owner' 'Tenant' 'tenant' 'owner']
[6000 7000 5500 '-' nan]
['Yes' 'No' '-']
['Owned' 'Vacant' '-' nan]
[ 2500. 10000.  1500.    nan  5000.  1000.  6000.]

In [24]:
df['Confirmed Members'] = df['Confirmed Members'].replace('-', 0)
df['No of Resident'] = df['No of Resident'].replace('-', 0)
df['Confirmed Members'] = df['Confirmed Members'].astype(int)
df['No of Resident'] = df['No of Resident'].astype(int)

In [25]:
df['Outsiders'] = df['Confirmed Members'] - df['No of Resident']
df['Outsiders'] = df['Outsiders'].apply(lambda x: x if x>0 else 0)

In [26]:
df['Tenant or owner'] = df['Tenant or owner'].str.lower()

In [27]:
df['Availlability of owner'] = df['Availlability of owner'].str.lower()

In [28]:
df['Flat Vacancy'] = df['Flat Vacancy'].str.lower()

In [29]:
df['Origin of Owner'] = df['Origin of Owner'].str.lower()

In [30]:
df['Owner Name'] = df['Owner Name'].str.title()

In [31]:
df

,Unnamed: 0,Flat no,Wing,Owner Name,Owner's Spouse Name,No of Resident,Confirmed Members,Origin of Owner,Flat Area (sq.mt),No of Room,Tenant or owner,Maintenance Amt,Availlability of owner,Flat Vacancy,Donation,Outsiders
0,0,101,A,Omkar,-,4,4,maharashtra,500,2,owner,6000,yes,owned,2500.0,0
1,1,102,A,Bhavana,-,5,6,bangalore,500,2,owner,6000,yes,owned,10000.0,1
2,2,103,A,Govind,-,5,3,rajasthan,500,2,owner,6000,yes,owned,1500.0,0
3,3,201,A,Reena,-,4,2,madhya pradesh,550,2,tenant,6000,no,owned,NaN,0
4,4,202,A,Karishma,-,7,15,gujurat,600,3,owner,7000,no,owned,2500.0,8
5,5,203,A,Ragesh,-,4,4,kerala,500,2,tenant,5500,no,owned,5000.0,0
6,6,301,A,Harshad,Parul,8,8,gujurat,550,2,owner,6000,yes,owned,5000.0,0
7,7,302,A,Abdul,NaN,4,4,maharashtra,600,3,owner,7000,yes,vacant,NaN,0
8,8,303,A,Lohit,-,5,2,bangalore,500,2,owner,-,-,-,1000.0,0
9,9,401,A,Vijay,NaN,5,3,rajasthan,550,2,tenant,NaN,no,NaN,10000.0,0
10,10,402,A,Bhavana,NaN,4,2,madhya pradesh,600,3,tenant,7000,no,vacant,2500.0,0
11,11,403,A,Govind,NaN,7,20,gujarat,500,2,owner,NaN,no,vacant,6000.0,13
12,12,501,A,Reena,NaN,4,4,kerala,550,2,owner,NaN,yes,NaN,2500.0,0
13,13,502,A,Karishma,NaN,8,8,gujarat,600,3,tenant,7000,yes,owned,2500.0,0
14,14,503,A,Ragesh,NaN,0,0,maharashtra,600,3,owner,7000,yes,vacant,10000.0,0
15,15,601,A,Harshad,NaN,3,2,tamil nadu,600,3,owner,7000,no,vacant,1500.0,0
16,16,602,A,Praveen,NaN,6,4,karnataka,600,3,owner,7000,no,vacant,NaN,0
17,17,603,A,Arjun,NaN,4,2,maharashtra,600,3,tenant,7000,no,vacant,1500.0,0
18,18,701,A,Priya,NaN,5,4,uttar pradesh,550,2,owner,NaN,no,NaN,1000.0,0
19,19,702,A,Ravi,Shashi,3,2,karnataka,550,2,owner,NaN,yes,owned,5000.0,0
20,20,703,A,Deepak,NaN,0,0,maharashtra,500,2,owner,NaN,no,NaN,NaN,0
21,21,801,A,Nandini,NaN,4,3,delhi,500,2,tenant,NaN,yes,vacant,1500.0,0
22,22,802,A,Nisha,NaN,5,4,haryana,500,2,owner,NaN,no,owned,1500.0,0
23,23,803,A,Sunil,Sneha,4,3,maharashtra,500,2,owner,NaN,no,owned,2500.0,0
24,24,901,A,Priyanka,NaN,3,2,rajasthan,550,2,tenant,NaN,no,vacant,6000.0,0
25,25,902,A,Rahul,NaN,0,0,maharashtra,600,3,owner,7000,no,owned,10000.0,0
26,26,903,A,Anjali,NaN,5,3,uttar pradesh,600,3,tenant,7000,yes,owned,10000.0,0
27,27,1001,A,Aman,NaN,4,2,madhya pradesh,600,3,owner,7000,yes,NaN,5000.0,0
28,28,1002,A,Alok,NaN,3,1,maharashtra,600,3,tenant,7000,yes,owned,1000.0,0
29,29,1003,A,Pooja,NaN,2,2,punjab,600,3,tenant,7000,no,NaN,1500.0,0
30,30,101,B,Anil,NaN,2,2,punjab,550,2,owner,NaN,no,owned,6000.0,0
31,31,102,B,Simran,NaN,5,11,andhra pradesh,600,3,owner,7000,yes,vacant,5000.0,6
32,32,103,B,Mayuri,NaN,4,3,kerala,500,2,owner,NaN,yes,NaN,2500.0,0
33,33,201,B,Naveen,Nisha,3,2,tamil nadu,500,2,owner,NaN,yes,NaN,1500.0,0
34,34,202,B,Anju,Raghav,2,1,delhi,500,2,tenant,NaN,yes,NaN,2500.0,0
35,35,203,B,Vivek,NaN,3,3,maharashtra,500,2,tenant,NaN,yes,owned,1000.0,0
36,36,301,B,Priyanka,Vimesh,4,3,haryana,550,2,owner,NaN,no,vacant,1500.0,0
37,37,302,B,Tanmay,NaN,5,4,maharashtra,600,3,owner,7000,yes,owned,1000.0,0
38,38,303,B,Rohit,NaN,3,2,gujarat,500,2,owner,NaN,no,vacant,2500.0,0
39,39,401,B,Ankita,NaN,2,2,rajasthan,550,2,tenant,NaN,no,NaN,1000.0,0
40,40,402,B,Suresh,NaN,5,9,maharashtra,550,2,owner,NaN,yes,vacant,6000.0,4
41,41,403,B,Pooja,NaN,5,4,karnataka,550,2,tenant,NaN,yes,NaN,1500.0,0
42,42,501,B,Omi,NaN,4,3,madhya pradesh,550,2,owner,NaN,yes,vacant,1500.0,0
43,43,502,B,Karan,NaN,3,2,tamil nadu,600,3,owner,7000,yes,NaN,2500.0,0
44,44,503,B,Neha,NaN,2,1,kerala,500,2,tenant,NaN,no,vacant,5000.0,0
45,45,601,B,Sameer,NaN,0,0,-,500,2,owner,NaN,no,NaN,NaN,0
46,46,602,B,Shilpa,NaN,4,3,haryana,600,3,tenant,7000,no,owned,10000.0,0
47,47,603,B,Romil,NaN,2,0,maharashtra,500,2,owner,NaN,yes,owned,6000.0,0
48,48,701,B,Rohit,Chanda,1,0,kashmir,550,2,tenant,NaN,no,NaN,2500.0,0
49,49,702,B,Sachin,Deeksha,6,4,assam,600,3,tenant,7000,no,vacant,1000.0,0
50,50,703,B,Amit,NaN,7,7,punjab,500,2,tenant,NaN,no,vacant,10000.0,0
51,51,801,B,Abdul,NaN,5,4,kerala,600,3,owner,7000,yes,owned,2500.0,0
52,52,802,B,Gaurav,Ekta,4,4,tamil nadu,600,3,tenant,7000,yes,NaN,10000.0,0
53,53,803,B,Ashish,Anjali,3,5,delhi,600,3,tenant,7000,yes,vacant,10000.0,2
54,54,901,B,Lokesh,NaN,2,3,maharashtra,550,2,owner,NaN,no,vacant,1000.0,1
55,55,902,B,Mahesh,NaN,3,1,haryana,600,3,owner,7000,no,NaN,5000.0,0
56,56,903,B,Yash,NaN,4,4,maharashtra,600,3,tenant,7000,no,vacant,10000.0,0
57,57,1001,B,Rasika,NaN,5,2,kerala,500,2,owner,NaN,yes,NaN,1000.0,0
58,58,1002,B,Shivam,NaN,3,2,rajasthan,600,3,tenant,7000,yes,owned,6000.0,0
59,59,1003,B,Vikas,Suman,3,6,maharashtra,600,3,owner,7000,no,owned,2500.0,3